$brand_text_color: #58402c;
$brand_blue_color: #2c4792;
$nav_font_size: 20px;
$strong_text: 800;
$rounded_border: 5px;

@mixin my_container {
    width: 1200px;
    text-align: center;
    margin: auto;
}